<div class="container">
<h1>Fast Food Center</h1>
<div class="Name">
<img src="https://seeklogo.com/images/F/fastfood-logo-D673849A4C-seeklogo.com.png" width="10%" height="7%"></div>
<body>
<a routerLink="/home">Home</a>
<a routerLink="/Foodorder">Foodorder</a>
<a routerLink="/coupons">Coupons</a>
<a routerLink="/Service">Service</a>
<a routerLink="/contact">Contact</a></body>
<body>
    <div class="text-box">
            <p> For</p>
            <h2>Better Day</h2>
            <h3>HAVE FOOD ENJOY IT</h3>
    </div>
    <router-outlet></router-outlet>

