<body>
    <input type="text" placeholder="What you are looking for?">
     <a href=""><button type="submit">Search</button></a>
     </body><br>
     <h2>Eat What makes you Happy</h2>
<div class="container">
<a href="">Biryani</a><br>
<a href="">Shake</a><br>
<a href="">Dosa</a><br>
<a href="">Pizza</a><br>
<a href="">Burger</a><br>
<a href="">Fried Rice</a><br>
<a href="">Chicken</a><br>
<a href="">Wings</a><br>
<a href="">Manchurian</a><br>
<a href="">Ice cream</a><br>
</div>
<div class="Photos">
    <img src="https://image.similarpng.com/very-thumbnail/2020/08/Fast-food-design-Premium-vector-PNG.png">
    </div>